body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #212529;
}
main {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
}

.page{
    background-color: white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    /*background: #FFCEC2;*/
}

.container-center,
.container-fluid-center
{
    display: flex;
    justify-content: center;
    align-items: center;
}



